html, body {
    margin: 0;
}
header {
    background-color: rgb(236, 184, 184);
    color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
}
li {
    float: left;
    padding: 10 0 10 30;
    font-size: 15pt;
}
#telainicial {
    height: 100%;
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 45%;
    background: url("img/freepik\ 1.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}
#hti {
    font-size: 45pt;
    margin: 25px;
}
#pti {
    font-size: large;
}
#acao {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 5px 10px 5px 10px;
}
section {
    margin: 20px;
    float: left;
}
.colunadois {
    float: left;
    position: relative;
    width: 43%;
    padding: 3% 3% 0% 3%;
}
.importancia {
    text-align: justify;
}
#importancia {
    text-align: center;
    font-size: 25pt;
}
.classh2 {
    margin: 40px;
    text-align: center;
    font-size: 35pt;
}
.icone {
    width: 100px;
}
.colunacinco {
    float: left;
    position: relative;
    width: 10%;
    padding: 0% 5%;
    text-align: left;
    margin-top: 25px;
}
.historia1 {
    text-align: justify;
}
.historia2 {
    text-align: justify;
    width: 92%;
    margin-left: 3%;
    margin-right: 3%;
}
